#contact_modal {
    display: none;
}

html {
    font-family: "DM Sans", sans-serif;
    margin: 0px 100px;
}

main {
    position: relative;
}
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    order: 3;
    margin: 5em;
}

.photograph-header article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    order: 1;
}

.photograph-header article h1 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0px;
}

.photograph-header article .localisation {
    color: #901C1C;
    font-size: 24px;
}

.photograph-header article .slogan {
    color: #525252;
    font-size: 18px;
}



.contact_button , .btnclose {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
    transition: transform .2s; /* Animation */
}

.contact_button:nth-child(1):hover{
    background-color: #DB8876;
    color: #000000;
}

.contact_button:nth-child(n+2):hover,
.btnclose:hover  {
    border: 2px solid #FAFAFA;
}


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    height: 930px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    margin: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    animation-name: modalopen;
    animation-duration: 0.8s;
    z-index: 2;
}

.modal-message-sent {
    color: #312E2E;
    font-size: 32px;
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    margin: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    animation-name: modalopen;
    animation-duration: 0.8s;
}


.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    font-size: 26px;
    border: none;
    border-radius: 5px;
}

.formData[data-error]::after{
    content: attr(data-error);
    font-size: 15px;
    color: #901C1C;
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 7px;
    text-align: end;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
  }  
.formData[data-error-visible="true"]::after {
opacity: 1;
}

.btn-submit-bl[data-error-visible="true"]::after {
opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
background-color: #901C1C;
color: white;
}

#Yourmessage {
    font-size: 26px;
    height: 204px;
    width: 100%;
    border-radius: 5px;
    font-family: "DM Sans", sans-serif;
}

.medias-section {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    justify-content: space-between;
    gap: 70px;
    /* margin-top: 100px; */
}

.card-media {
    width: 350px;
    height: 350px;
    background-color: white;
}

.card-media {
    cursor: pointer;
}

.card-media img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 5px;
}

.card-media video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 5px;

}

.card-media-title {
    color: #901C1C;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.counterlikes {
    display: flex;
    align-items: center;
}

.counterlikes .fas:hover {
    transform: scale(1.2);
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
}

h2 {
    margin: 0px;
    font-size: 20px;
}

.card-media-title p {
    margin-right: 5px;
}

.dropdown-bar {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    position: relative;
}
.dropdown-label {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}

.dropdown {
    position: absolute;
    left: 100px;
    top: 0px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}
.select {
    width: 170px;
    height: 60px;
    padding: 15px 10px 10px 25px;
    background-color: #901C1C;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.select:hover {
    background-color: #DB8876;
    color: #000000;
}

.select-selected {
    position: relative;
    border-radius: 5px;  
}
.arrow {
    font-size: 25px;
    position: absolute;
    right: 15px;
}

.select-two::after {
    position: absolute;
    top: 0px;
    left: 15px;
    content:"";
    height:1px;
    width:140px;
    background: white;
    
}
.select-three::after {
    position: absolute;
    top: 0px;
    left: 15px;
    content:"";
    height:1px;
    width:140px;
    background: white;
}

.select-three, .select-two {
    position: relative;
    display: none;
    animation-name: selectopen;
    animation-duration: 0.3s;
}

.box-likes {
    position: fixed;
    right: 40px;
    bottom: 0px;
    width: 376px;
    height: 89px;
    border-radius: 5px;
    background-color: #DB8876;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.sum-likes {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding-right: 65px;
    box-sizing: border-box;
}

.sum-likes::after {
    content: "\f004";
    font-family: "font Awesome 5 free";
    font-weight: 900;
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 130px;
    right: 0;
    font-size: 24px;
    opacity: 1; 
    z-index: 1;
    color: #000000; 
  }

.tjm {
    display: flex;
    justify-content: center;
    width: 50%;
}

@keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
    to {
      opacity: 1;
    }
  }

@keyframes lightboxopen {
from {
    opacity: 0;
    transform: scale3d(0.5,0.5,0.5);
}
to {
    opacity: 1;
    transform: scale3d(1,1,1);    
}
}

@keyframes selectopen {
    from {
      opacity: 0;
      transform: translateY(-70px);
    }
    to {
      opacity: 1;
    }
  }

/*lightbox*/ 

.lightbox {
    width: 100%;
    height: 100%;
    margin: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
    display: block;
}

.lightbox {
    animation-name: lightboxopen;
    animation-duration: 0.8s;
}

.lightbox img {
    height: 80%;
    width: 80%;
    object-fit: cover;
    position: absolute;
    transform: translate(12%, -50%);
    top: 50%;
    border-radius: 5px;

}

.lightbox video {
    height: 80%;
    width: 80%;
    position: absolute;
    transform: translate(12%, -50%);
    top: 50%;
    border-radius: 5px;

}

.lightbox .title {
    font-size: 24px;
    color: #901C1C;
    position: absolute;
    bottom: 5%;
    left: 10%;
    width: 80%;

} 

.fa-times {
    position: absolute;
    right: 4%;
    top: 100px;
    transform: translate(0%, -50%);
}

.icone-close-lightbox:hover {
    cursor: pointer;
}

.icone-close-lightbox:hover,
.fa-chevron-left:hover , 
.fa-chevron-right:hover {
    color: #DB8876;
}


.fa-times , .fa-chevron-left , .fa-chevron-right {
    font-size: 42px;
    color: #901C1C;
}
.fa-chevron-left {
    position: absolute;
    left: 4%;
    top: 50%;
    transform: translate(0%, -50%);

}
.fa-chevron-right {
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translate(0%, -50%);

}
.modal-message-sent {
    display: none;
}