#contact_modal {
    display: none;
}

html {
    font-family: "DM Sans", sans-serif;
}

main {
    position: relative;
}
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    order: 3;
    margin: 5em;
}

.photograph-header article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    order: 1;
}

.photograph-header article h1 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0px;
}

.photograph-header article .localisation {
    color: #901C1C;
    font-size: 24px;
}

.photograph-header article .slogan {
    color: #525252;
    font-size: 18px;
}



.contact_button , #selector {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
}

#selector {
    font-size: 18px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    padding: 35px;
    margin: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    font-size: 26px;
    border: none;
    border-radius: 5px;
}

#Yourmessage {
    font-size: 26px;
    height: 204px;
    width: 100%;
    border-radius: 5px;
    font-family: "DM Sans", sans-serif;

}

.medias-section {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    justify-content: space-between;
    gap: 70px;
    margin-top: 100px;
    margin: 0 100px;
}

.card-media {
    width: 350px;
    height: 350px;
    background-color: white;
}
.card-media img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 5px;
}

.card-media video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 5px;

}

.card-media-title {
    color: #901C1C;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.card-media-title::after {
    content: "\f004";
    font-family: "font Awesome 5 free";
    font-weight: 900;
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 92%;
    right: 0;
    font-size: 20px;
    /* opacity: 1; */
    /* z-index: 1; */
    color: #901C1C;
  }

h2 {
    margin: 0px;
    font-size: 20px;
}

.card-media-title p {
    margin-right: 35px;
}


.select-bar {
    margin: 20px 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;

}

#selector .option {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.box-likes {
    position: fixed;
    top: 1210px;
    right: 0px;
    left: 1160px;
    bottom: 0px;

    width: 376px;
    height: 89px;
    border-radius: 5px;
    background-color: #DB8876;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.total-likes {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding-right: 65px;
    box-sizing: border-box;
}

.total-likes::after {
    content: "\f004";
    font-family: "font Awesome 5 free";
    font-weight: 900;
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 130px;
    right: 0;
    font-size: 24px;
    /* opacity: 1; */
    /* z-index: 1; */
    color: #000000;
  }











.tjm {
    display: flex;
    justify-content: center;
    width: 50%;
}