@import url("photographer.css");



body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-top: 0px;
    /* margin-right: 100px; */
}

p {
    margin: 0px;
}

.logo {
    height: 50px;
    /* margin-left: 100px; */
}

a {
    margin-left: 100px /*margin du logo initial*/
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer_section article {
    color: #901C1C;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: transform .5s; /* Animation */

}


.photographer_section article:hover {
    transform: scale(1.1);
}



.photographer_section .slogan  {
    margin: 0px;
    color: #000000;
}

.photographer_section .tjm  {
    font-size: 15px;
    margin: 0px;
    color: #757575;
}

.photographer_section article .link {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: 0px;
    z-index: 1;
}